<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Secundaria</h1> - <h3>(2007-2010)</h3>
            </li>
            <p>Instituto Timoteo.</p>
        </ul>
        <ul>
            <li>
                <h1>Terciaria</h1> - <h3>(2022-Actualidad)</h3>
            </li>
            <p>Tecnicatura Superior en Mineria.Campo Quijano. Salta.</p>
        </ul>
        <ul>
            <li>
                <h1>Cursos</h1>
            </li>
            <p>Introducción a la Programación en Python.(Proyecto 1000 Programadores Salteños. Certificado por la Universidad Nacional de Salta).(2021)</p>
            <p>#SeProgramar. Programa Nacional "Argentina Programa".(2022)</p>
            <p>#YoProgramo. Programa Nacional "Argentina Programa".(2022/2023)</p>
        </ul>
    </div>
</div>