<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laboriosam qui quod rem labore itaque beatae facere dolorum! Ad eum iusto natus quasi ex. Assumenda eveniet nihil magnam. Culpa, facilis.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laboriosam qui quod rem labore itaque beatae facere dolorum! Ad eum iusto natus quasi ex. Assumenda eveniet nihil magnam. Culpa, facilis.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laboriosam qui quod rem labore itaque beatae facere dolorum! Ad eum iusto natus quasi ex. Assumenda eveniet nihil magnam. Culpa, facilis.</p>
        </ul>
    </div>
</div>