<div class="row">
    <h1>Hard & Soft Skills</h1>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/LOGOS/1216733.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/LOGOS/732190.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/LOGOS/1199124.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/LOGOS/2111432.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/LOGOS/4710672.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/LOGOS/1534938.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

</div>