<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/cv.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Carlos Iván Patagua Ibieta</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>
                Poseo gran motivación para seguir perfeccionando las habilidades adquiridas en el campo de la programación y crecer profesionalmente. Confío plenamente en mi capacidad de producir ideas nuevas que no pasarán desapercibidas.
            </p>
        </span>
    </div>
</div>